[project]
	description = Octopress is an obsessively designed framework for Jekyll blogging. It?s easy to configure and easy to deploy. Sweet huh?
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stacey cardoso (istisiki)
[access "refs/for/refs/*"]
	read = group user/stacey cardoso (istisiki)
	push = group user/stacey cardoso (istisiki)
	label-Code-Review = -2..+2 group user/stacey cardoso (istisiki)
	label-Verified = -1..+1 group user/stacey cardoso (istisiki)
	rebase = group user/stacey cardoso (istisiki)
	removeReviewer = group user/stacey cardoso (istisiki)
	submit = group user/stacey cardoso (istisiki)
[access "refs/heads/*"]
	read = group user/stacey cardoso (istisiki)
	create = group user/stacey cardoso (istisiki)
	push = +force group user/stacey cardoso (istisiki)
	pushMerge = group user/stacey cardoso (istisiki)
[access "refs/tags/*"]
	push = +force group user/stacey cardoso (istisiki)
	pushTag = group user/stacey cardoso (istisiki)
	pushSignedTag = group user/stacey cardoso (istisiki)
